<!-- TMPL_INCLUDE NAME="header.html" -->
<!-- TMPL_INCLUDE NAME="toolbar.html" -->
<!-- TMPL_INCLUDE NAME="user_menu.html" -->

    <div id="main">
  <!-- TMPL_IF NAME=DATABASE_ID -->
  <h2>Edit Database</h2>
  <!-- TMPL_ELSE -->
  <h2>Create new Database</h2>
  <!-- /TMPL_IF -->

  <form action="sierra.pl" method="POST">
    <input type="hidden" name="action" value="finish_edit_database">
    <!-- TMPL_IF NAME=DATABASE_ID -->
    <input type="hidden" name="database_id" value="<!-- TMPL_VAR NAME=DATABASE_ID -->">
    <!-- /TMPL_IF -->
  <table>
    <tr>
      <th>Species</th>
      <td><input type="text" name="species" value="<!-- TMPL_VAR NAME=SPECIES ESCAPE=HTML -->"></td>
    </tr>
    <tr>
      <th>Assembly</th>
      <td><input type="text" name="assembly" value="<!-- TMPL_VAR NAME=ASSEMBLY ESCAPE=HTML -->"></td>
    </tr>
    <tr>
      <th>Folder</th>
      <td><input type="text" name="folder" value="<!-- TMPL_VAR NAME=FOLDER ESCAPE=HTML -->"></td>
    </tr>

  </table>
  <p class="center">
    <!-- TMPL_IF NAME=DATABASE_ID -->
  <input type="submit" value="Submit changes">
  <!-- TMPL_ELSE -->
  <input type="submit" value="Create Database">
  <!-- /TMPL_IF -->
</p>
  </form>
    </div>

<!-- TMPL_INCLUDE NAME="footer.html" -->
