<!-- TMPL_INCLUDE NAME="header.html" -->
<!-- TMPL_INCLUDE NAME="toolbar.html" -->
<!-- TMPL_INCLUDE NAME="user_menu.html" -->

    <div id="main">
  <h2>Edit Flowcell <!-- TMPL_VAR NAME=FLOWCELL_ID ESCAPE=HTML --></h2>

  <form action="sierra.pl" method="POST">
    <input type="hidden" name="action" value="finish_edit_flowcell">
    <input type="hidden" name="flowcell_id" value="<!-- TMPL_VAR NAME=FLOWCELL_ID ESCAPE=HTML -->">

  <table>
    <tr>
      <th>Run Folder</th>
      <td><input type="text" name="run_folder" size=40 value="<!-- TMPL_VAR NAME=RUN_FOLDER_NAME ESCAPE=HTML -->"></td>
    </tr>
    <tr>
      <th>Flowcell Serial Number</th>
      <td><input type="text" name="serial_number" value="<!-- TMPL_VAR NAME=SERIAL_NUMBER ESCAPE=HTML -->"></td>
    </tr>
    <tr>
      <th>Run Date</th>
      <td>
	<select name="day">
	  <!-- TMPL_LOOP NAME=DAYS -->
	  <option <!-- TMPL_IF NAME=SELECTED -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR NAME=NAME ESCAPE=HTML --></option>
	  <!-- /TMPL_LOOP -->
	</select> 
	<select name="month">
	  <!-- TMPL_LOOP NAME=MONTHS -->
	  <option value="<!-- TMPL_VAR NAME=NUMBER ESCAPE=HTML -->" <!-- TMPL_IF NAME=SELECTED -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR NAME=NAME ESCAPE=HTML --></option>
	  <!-- /TMPL_LOOP -->
	</select> 
	<select name="year">
	  <!-- TMPL_LOOP NAME=YEARS -->
	  <option <!-- TMPL_IF NAME=SELECTED -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR NAME=YEAR ESCAPE=HTML --></option>
	  <!-- /TMPL_LOOP -->
	</select>
      </td>
    </tr>

  </table>
  <p class="center">
    <input type="submit" value="Submit changes">
  </p>
  </form>
    </div>

<!-- TMPL_INCLUDE NAME="footer.html" -->
