<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
  <head>
    <title>Sierra Sequence Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link href="css/sierra.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="header"><img src="images/sierra_logo.png" title="Sierra Sequence Management System" alt="Sierra Sequence Management System"> www.bioinformatics.babraham.ac.uk/projects/sierra/</div>
