<!-- TMPL_INCLUDE NAME="header.html" -->
<!-- TMPL_INCLUDE NAME="login_menu.html" -->

    <div id="main">

      <h2 class="center">Reset Forgotten Password</h2>

  <p class="center">
    You can use this form to set a new password for your account.
    An email will be sent to the address associated with your account
    and your new password will not be activated until you click on
    the link you will be sent.
  </p>

  <form action="sierra.pl" method="POST">

    <input type="hidden" name="action" value="password_reset">

      <table>
	<tr>
	  <th>Email</th>
	  <td><input type="text" name="email" size="30"></td>
	</tr>
	<tr>
	  <th>New Password</th>
	  <td><input type="password" name="password" size="30"></td>
	</tr>
	<tr>
	  <th>Retype New Password</th>
	  <td><input type="password" name="password2" size="30"></td>
	</tr>
      </table>  
      <p class="center">
	  <input type="submit" value="Reset Password">
      </p>

  </form>

    </div>


<!-- TMPL_INCLUDE NAME="footer.html" -->
