<!-- TMPL_INCLUDE NAME="header.html" -->
<!-- TMPL_INCLUDE NAME="toolbar.html" -->
<!-- TMPL_INCLUDE NAME="user_menu.html" -->

    <div id="main">


  <h2>Samples in the queue</h2>

  <!-- TMPL_IF NAME=IS_ADMIN -->
  <h3 class="center">Show / Hide</h3>

  <table>
    <tr>
      <td class="notreceived">Not Received <input type="checkbox" id="filter_notreceived" checked></td>
      <td class="received">Received <input type="checkbox" id="filter_received" checked></td>
      <td class="partqc">Passed Separate QC <input type="checkbox" id="filter_separateqc" checked></td>
      <td class="ready">Passed Combined QC <input type="checkbox" id="filter_combinedqc" checked></td>
    </tr>
  </table>

  <table>
    <tr>
      <!-- TMPL_LOOP NAME=TABLES -->
      <td><!-- TMPL_VAR NAME=TABLE_NAME ESCAPE=HTML --> <input type="checkbox" id="<!-- TMPL_VAR NAME=TABLE_NAME ESCAPE=HTML -->" checked></td>
      <!-- /TMPL_LOOP -->

    </tr>
  </table>

  <script>
    $(document).ready(function(){
      $("#filter_notreceived").click(function(){
        $("tr.notreceived").toggle();
      });
      $("#filter_received").click(function(){
        $("tr.received").toggle();
      });
      $("#filter_separateqc").click(function(){
        $("tr.partqc").toggle();
      });
      $("#filter_combinedqc").click(function(){
        $("tr.ready").toggle();
      });

      <!-- TMPL_LOOP NAME=TABLES -->

      $("#<!-- TMPL_VAR NAME=TABLE_NAME ESCAPE=HTML -->").click(function(){
        $("div.<!-- TMPL_VAR NAME=TABLE_NAME ESCAPE=HTML -->").toggle();
      });

      <!-- /TMPL_LOOP -->

    });
  </script>



  <!-- TMPL_LOOP NAME=TABLES -->
  
  <div class="<!-- TMPL_VAR NAME=TABLE_NAME ESCAPE=HTML -->">
  <h3 class="center"><!-- TMPL_VAR NAME=TABLE_NAME ESCAPE=HTML --></h3>
  
  <table class="fullwidth">
    <tr>
      <th>Sample ID</th>
      <th>Sample Name</th>
      <th>Owner</th>
      <th>Run type</th>
      <th>Received</th>
      <th>Passed Individual QC</th>
      <th>Passed Group QC</th>
      <th>Lanes Requested</th>
      <th>Lanes Run</th>
    </tr>

    <!-- TMPL_IF NAME=ACTIVE_SAMPLES -->

    <!-- TMPL_LOOP NAME=ACTIVE_SAMPLES -->
    <tr class="<!-- TMPL_VAR NAME=CLASS ESCAPE=HTML -->">
      <td><a href="sierra.pl?action=view_sample&amp;sample_id=<!-- TMPL_VAR NAME=SAMPLE_ID ESCAPE=HTML -->">Sample <!-- TMPL_VAR NAME=SAMPLE_ID ESCAPE=HTML --></a></td>
      <td><!-- TMPL_VAR NAME=NAME ESCAPE=HTML --></td>
      <td><!-- TMPL_VAR NAME=OWNER ESCAPE=HTML --></td>
      <td><!-- TMPL_VAR NAME=RUN_TYPE ESCAPE=HTML --></td>
      <td><!-- TMPL_IF NAME=RECEIVED --><!-- TMPL_VAR NAME=RECEIVED ESCAPE=HTML --><!-- TMPL_ELSE --><!-- TMPL_IF NAME=IS_ADMIN --><a href="sierra.pl?action=receive_sample&amp;sample_id=<!-- TMPL_VAR NAME=SAMPLE_ID ESCAPE=HTML -->">Receive</a><!-- TMPL_ELSE -->Not Yet Received<!-- /TMPL_IF--><!-- /TMPL_IF --></td>
      <td><!-- TMPL_IF NAME=RECEIVED --><!-- TMPL_IF NAME=PASSED_INDIVIDUAL_QC --><!-- TMPL_VAR NAME=PASSED_INDIVIDUAL_QC ESCAPE=HTML --><!-- TMPL_ELSE --><!-- TMPL_IF NAME=IS_ADMIN --><a href="sierra.pl?action=pass_individual_qc_sample&amp;sample_id=<!-- TMPL_VAR NAME=SAMPLE_ID ESCAPE=HTML -->">Pass Individual QC</a><!-- TMPL_ELSE -->Not Passed QC<!-- /TMPL_IF--><!-- /TMPL_IF --><!-- TMPL_ELSE -->Not Received<!-- /TMPL_IF --></td>
      <td>
	<!-- TMPL_IF NAME=RECEIVED -->
	  <!-- TMPL_IF NAME=PASSED_QC -->
            <!-- TMPL_VAR NAME=PASSED_QC ESCAPE=HTML -->
          <!-- TMPL_ELSE -->
            <!-- TMPL_IF NAME=PASSED_INDIVIDUAL_QC -->
              <!-- TMPL_IF NAME=IS_ADMIN -->
                <a href="sierra.pl?action=pass_qc_sample&amp;sample_id=<!-- TMPL_VAR NAME=SAMPLE_ID ESCAPE=HTML -->">Pass Group QC</a>
              <!-- TMPL_ELSE -->
                Not Passed QC
              <!-- /TMPL_IF-->
            <!-- TMPL_ELSE -->
	      Not passed individual QC
            <!-- /TMPL_IF -->

          <!-- /TMPL_IF -->
        <!-- TMPL_ELSE -->
           Not Received
        <!-- /TMPL_IF --></td>
      <td><!-- TMPL_VAR NAME=LANES_REQUESTED ESCAPE=HTML --></td>
      <td><!-- TMPL_VAR NAME=LANES_RUN ESCAPE=HTML --></td>
    </tr>
    <!-- /TMPL_LOOP -->

    <!-- TMPL_ELSE -->
    <tr>
      <td colspan="8" class="center">No Active Samples</td>
    </tr>
    <!-- /TMPL_IF -->

  </table>
  </div>

  <!-- /TMPL_LOOP -->
  

  <!-- TMPL_ELSE -->
  <table>
    <tr>
      <th>Run Type</th>
      <th>Lanes Requested</th>
      <th>Owner</th>
      <th>Submitted</th>
      <th>Received</th>
      <th>Passed QC</th>
    </tr>

    <!-- TMPL_IF NAME=QUEUE_STATUS -->

    <!-- TMPL_LOOP NAME=QUEUE_STATUS -->
    <tr>
      <td><!-- TMPL_VAR NAME=RUN_TYPE ESCAPE=HTML --></td>
      <td><!-- TMPL_VAR NAME=LANES_REQUESTED ESCAPE=HTML --></td>
      <td><!-- TMPL_VAR NAME=OWNER ESCAPE=HTML --></td>
      <td><!-- TMPL_VAR NAME=SUBMITTED ESCAPE=HTML --></td>
      <td><!-- TMPL_IF NAME=RECEIVED --><!-- TMPL_VAR NAME=RECEIVED ESCAPE=HTML --><!-- TMPL_ELSE -->Not Yet Received<!-- /TMPL_IF --></td>
      <td><!-- TMPL_IF NAME=PASSED --><!-- TMPL_VAR NAME=PASSED ESCAPE=HTML --><!-- TMPL_ELSE -->Awaiting QC<!-- /TMPL_IF --></td>
    </tr>
    <!-- /TMPL_LOOP -->

    <!-- TMPL_ELSE -->
    <tr>
      <td colspan="5" class="center">No Samples in the Queue</td>
    </tr>
    <!-- /TMPL_IF -->

  </table>  



  <!-- /TMPL_IF -->


    </div>



<!-- TMPL_INCLUDE NAME="footer.html" -->
